{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>Les séries de la catégorie {{ category.name }}</h1>

    {% for program in programs %}
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ loop.index }} / {{ program.title }}</div>
            <div class="card-body">
                <p class="card-text">{{ program.synopsis }}</p>
                <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
            </div>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
{% endblock %}
