{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}

{% block body %}
    <h1>Toutes les séries : </h1>
    {% for program in programs %}
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</div>
            <div class="card-body">
                <p class="card-text">{{ program.synopsis }}</p>
                <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
            </div>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a class="btn btn-secondary" href="{{ path("program_new") }}" role="button">
        Ajouter une série
    </a>

    <a class="btn btn-secondary" href="{{ path("home") }}" role="button">
        Retour à l'accueil
    </a>
{% endblock %}