{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
        {% for program in programs %}
            <div class="card col-4">
                <img height="500" src="{{ program.poster }}" class="card-img-top" alt="Affiche de la série {{ program.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ program.title }}</h5>
                    <p class="card-text">{{ program.synopsis }}</p>
                    <a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-primary">Voir la fiche</a>
                </div>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
        </div>
    </div>

    <a class="btn btn-secondary" href="{{ path("program_new") }}" role="button">
        Ajouter une série
    </a>

    <a class="btn btn-secondary" href="{{ path("home") }}" role="button">
        Retour à l'accueil
    </a>
{% endblock %}